<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpapermemory.com/uploads/592/cocktail-background-hd-1280x1024-242969.jpg)">
<h1>New Cocktail</h1>
</div>

<div class="cocktail">

<%= render 'form', cocktail: @cocktail %>

<%= link_to 'Back', cocktails_path %>

</div>